<!DOCTYPE html>
<html>
    <head>
        <title>shhrink!</title>
    </head>
    <body>
        <h1>Welcome to shhr.ink!</h1>
        <form method="post" autocomplete="off">
            <label for="urlin" >Input:</label>
            <input type="text" id="urlin" name="urlin" placeholder="long URL" autofocus>
            <input type="submit" value="submit"><br><br>
            <label for="urlout" >Output:</label>
            <input type="text" id="urlout" name="urlout" value="{{urlout}}">
        </form>
    </body>
</html>

