#wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: monospace;
    font-size: 125%;
}

#figlet {
    text-align: center;
}

.btn {
    width: 100%;
}

/*
#submit {
    font-family: monospace;
    background-color: grey;
    border-radius: 12px;
    color: blue;
}
*/

.flash {
    text-align: center;
    font-family: monospace;
    color: red;
    border: 1px solid red;
    display: inline-block;
    position: relative;
    padding: 2px;
}

/*
.container {
    margin: 0 auto;
    text-align: center;
}
*/

table {
    margin: 0 auto;
}


label {
    font-family: monospace;
}

input {
    font-family: monospace;
    font-size: 100%;
}

/*
@media only screen and (max-width: 1000px) {
    label {
        color: blue;
    }
}
*/

