body, input {
    font-family: monospace;
    font-size: 16px;
}

#figlet {
    text-align: center;
}

.form-row {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: auto;
    margin-bottom: 1cm;
}

.form-row .input-url {
    flex: 1 1 auto;
    display: block;
    padding: 7px;
}

.form-row .btn {
    flex: 0 0 auto;
    display: block;
    text-align: center;
    width: 35px;
    border: 2px solid blue;
    border-radius: 5px;
    background: none;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

input:read-only {
    background-color: thistle;
}

/*
.flash {
    text-align: center;
    font-family: monospace;
    color: red;
    border: 1px solid red;
    display: inline-block;
    position: relative;
    padding: 2px;
}
*/

/*
.container {
    display: flex;
    flex-direction: row;
}
*/

footer {
    font-size: 12px;
    text-align: center;
}

footer ul, footer li {
    display: inline;
    padding: 0;
}

footer li::before {
    content: "|";
    white-space: nowrap;
}

footer li:first-child::before {
    content: "";
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}
a:active {
    color: black;
    text-decoration: underline;
}

